<% if notice %>
  <div class="alert alert-success text-center"><%= notice %></div>
<% end %>

<h1>Lista stadionów</h1>
<hr>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th>Nazwa Stadiony</th>
      <th>Adres Stadionu</th>
      <th>Ilość krzesełek</th>
      <th>Więcej</th>
      <% if user_signed_in? %>
        <th>Edytuj stadion</th>
        <th>Usuń stadnion</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @stadia.each do |stadium| %>
      <tr>
        <td><%= stadium.name %></td>
        <td><%= stadium.address %></td>
        <td><%= stadium.amount %> krzesełek</td>
        <td><%= link_to 'Więcej', stadium, class: "btn btn-info btn-sm" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edytuj', edit_stadium_path(stadium), class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Usuń', stadium, method: :delete, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'Dodaj nowy stadion', new_stadium_path, class: "btn btn-primary" %>
<% end %>
