<p id="notice"><%= notice %></p>

<h1 class="text-center">Klubu Piłkarskie</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa Klubu</th>
      <th>Adres Klubu</th>
      <th>Rok założenia</th>
      <th>Trener</th>
      <th>Liga</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.address %></td>
        <td><%= club.start_year %></td>
        <td><%= club.coach %></td>
        <td><%= club.league %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Club', new_club_path, class: "btn btn-primary" %>
