

<% if flash[:notice].present? %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>

<strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @club.start_year %>
</p>

<p>
  <strong>League:</strong>
  <%= @club.league %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @club.coach %>
</p>
<p>
  <strong>Staidum:</strong>
  <%= @club.stadium %>
</p>


<!-- <%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %> -->
