<% if notice %>
  <div class="alert alert-success text-center">
    <p class="text-center"><%= notice %></p>
  </div>
<% end %>
<h1><%= @club.name %></h1>
<hr>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Adres klubu</th>
      <th>Data startu</th>
      <th>Liga</th>
      <th>Trener</th>
      <th>Stadion</th>
      <th>Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @club.address %></td>
      <td><%= format_date(@club.start_year) %></td>
      <td><%= @club.league %></td>
      <td><%= @club.coach %></td>
      <td><%= @club.stadium %></td>
      <td><%= @club.sponsor %></td>
    </tr>
  </tbody>
</table>

<hr>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Piłkarze:</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= @club.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

 <%= link_to 'Edytuj', edit_club_path(@club), class: "btn btn-warning" %>
<%= link_to 'Lista klubów', clubs_path, class: "btn btn-primary" %>
