<% if notice %>
  <div class="alert alert-success text-center"><%= notice %></p>
<% end %>

<h1>Lista Wszystkich Kibiców</h1>
<hr>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Pesel</th>
      <th>Pokaż więcej</th>
      <% if user_signed_in? %>
        <th>Edytuj kibica</th>
        <th>Usuń kibica</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @hooligans.each do |hooligan| %>
      <tr>
        <td><%= hooligan.first_name %></td>
        <td><%= hooligan.last_name %></td>
        <td><%= hooligan.pesel %></td>
        <td><%= link_to 'Pokaż', hooligan, class: "btn btn-info btn-sm" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edytuj', edit_hooligan_path(hooligan), class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Usuń', hooligan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Dodaj nowego kibica', new_hooligan_path, class: "btn btn-primary" %>
<% end %>
