<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :club_id %><br>
    <%= f.select :club_id, Club.all_club_name_with_ids %>
  </div>
  <div class="field">
    <%= f.label :menager_id %><br>
    <%= f.select :menager_id, Employee.all_employees_with_ids %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
