<% if notice %>
  <div class="alert alert-success text-center">
    <p><%= notice %></p>
  </div>
<% end %>

<h1>Listing Employees</h1>
<hr>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Pensja</th>
      <th>Klub</th>
      <th>Menager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.club %></td>
        <td><%= employee.menager_id %></td>
        <td><%= link_to 'Więcej', employee, class: "btn btn-info btn-sm" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-daneger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Dodaj nowego pacownika', new_employee_path, class: "btn btn-primary" %>
<% end %>
