<% if notice %>
  <div id="alert alert-success text-center"><%= notice %></div>
<% end %>

<h1 class="text-center">Lista wszytkich zakazów</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imie i nazwisko</th>
      <th>Stadion</th>
      <th>Okres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bans.each do |ban| %>
      <tr>
        <td><%= ban.hooligan %></td>
        <td><%= ban.stadium %></td>
        <td><%= ban.number_of_years %> lat</td>
        <td><%= link_to 'Show', ban %></td>
        <td><%= link_to 'Edit', edit_ban_path(ban) %></td>
        <td><%= link_to 'Destroy', ban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ban', new_ban_path, class: "btn btn-primary" %>
