<p id="notice"><%= notice %></p>

<h1>Listing Bans</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hooligan</th>
      <th>Stadium</th>
      <th>Number of years</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bans.each do |ban| %>
      <tr>
        <td><%= ban.hooligan %></td>
        <td><%= ban.stadium %></td>
        <td><%= ban.number_of_years %></td>
        <td><%= link_to 'Show', ban %></td>
        <td><%= link_to 'Edit', edit_ban_path(ban) %></td>
        <td><%= link_to 'Destroy', ban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ban', new_ban_path, class: "btn btn-primary" %>
