<p id="notice"><%= notice %></p>

<p>
  <strong>Hooligan:</strong>
  <%= @ban.hooligan %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @ban.stadium %>
</p>

<p>
  <strong>Number of years:</strong>
  <%= @ban.number_of_years %>
</p>

<%= link_to 'Edit', edit_ban_path(@ban) %> |
<%= link_to 'Back', bans_path %>
