<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sponsor.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @sponsor.website %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
