<% if notice %>
  <div class="alert alert-success">
    <p class="text-center"><%= notice %></p>
  </div>
<% end %>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @coach.first_name %></td>
      <td><%= @coach.last_name %></td>
      <td><%= @coach.age %></td>
    </tr>
  </tbody>
</table>

<hr>
<%= link_to 'Edytuj trenera', edit_coach_path(@coach), class: "btn btn-warning" %> 
<%= link_to 'Lista wszystkich trenerów', coaches_path, class: "btn btn-mas" %>
