<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Imię" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Nazwisko" %><br>
    <%= f.text_field :surname, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Wiek" %><br>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Pozycja na boisku" %><br>
    <%= f.text_field :position, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Zwrost" %><br>
    <%= f.text_field :growth, class: "form-control" %>
  </div>

  <div class="field s-mas">
    <%= f.label "Aktualny klub" %><br>
    <%= f.select :club_id, @clubs %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "Dodaj piłkarza", class: "btn btn-primary" %>
  </div>
<% end %>
