<% if notice %>
<div class="alert alert-success">
  <p class="text-center"><%= notice %></p>
</div>
<% end %>

<h1>Listing Players</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
      <th>Pozycja</th>
      <th>Zwrost</th>
      <th>Pokaż więcej</th>
      <% if user_signed_in? %>
        <th>Edytuj Piłkarza</th>
        <th>Usuń Piłkarza</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.surname %></td>
        <td><%= player.age %></td>
        <td><%= player.position %></td>
        <td><%= player.growth %> cm</td>
        <td><%= link_to 'Pokaż', player, class: "btn btn-info btn-sm"  %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edytuj', edit_player_path(player), class: "btn btn-warning btn-sm"  %></td>
          <td><%= link_to 'Usuń', player, method: :delete, data: { confirm: 'Czy napewno chcesz usunąć piłkarza?' }, class: "btn btn-danger btn-sm"  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Dodaj piłkarza', new_player_path, class: "btn btn-primary" %>
<% end %>
