<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Gospodarze' %><br>
    <%= f.select :host_id, @clubs, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label 'Goście' %><br>
    <%= f.select :guest_id, @clubs, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Bramek dla gospodarzy' %><br>
    <%= f.number_field :host_goals, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Bramek dla gości' %><br>
    <%= f.number_field :guest_goals, class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Dodaj wynik meczu", class: 'btn btn-primary' %>
  </div>
<% end %>
