<!DOCTYPE html>
<html>
<head>
  <title>Projekt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">Liga</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li <% if params[:controller] == "clubs" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Kluby", clubs_path %></li>
              <li <% if params[:controller] == "stadia" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Stadiony", stadia_path %></li>
              <li <% if params[:controller] == "bans" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Zakazy", bans_path %></li>
              <li <% if params[:controller] == "hooligans" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Kibice", hooligans_path %></li>
              <li <% if params[:controller] == "employees" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Pracownicy", employees_path %></li>
              <li <% if params[:controller] == "players" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Piłkarze", players_path %></li>
              <li <% if params[:controller] == "coaches" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Trenerzy", coaches_path %></li>
              <li <% if params[:controller] == "matches" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Mecze", matches_path %></li>
              <li <% if params[:controller] == "sponsors" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Sponsorzy", sponsors_path %></li>
              <li <% if params[:controller] == "leagues" && params[:action] == "index" %> class="active" <% end %>><%= link_to "Liga", leagues_path %></li>

              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kluby<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li> -->
              <li>
                <% if user_signed_in? %>
                  <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Zaloguj się", new_user_session_path %>
                <% end %>
              </li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <% if flash[:alert] %>
          <div class="alert alert-success">
            <%= flash[:alert] %>
          </div>
        <% end %>
  </div>
  <div class="row page">
    <%= yield %>
  </div>
</div>
<footer class="container-fluid" >
  <div class="row">
    <div class="container">
      <div class="row">
        <p class="text-center">Ireneusz Tejman - Projekt MAS</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
